<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>SUPublicEDKey</key>
	<string>H+mzmuAVU+p1v5K8KtAddpQ1wjOYtFPnR3hN4TnsOII=</string>
	<key>SUFeedURL</key>
	<string>https://raw.githubusercontent.com/Kyome22/TextScanner/main/appcast.xml</string>
</dict>
</plist>
